<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
<script type="text/javascript" src="<?= PATH; ?>general/public/js/loginJS.js"></script>
<footer class="general">
	<center><p class="copyright"><span class="WatchTower-WatchTower-Logo"></span> Sistema de Gestión Financiera Personal © <?= date('Y')?> - Ian Scateni - Actividad 4 Prototipo</p></center>
</footer>	
</body>
</html>